<nav class="navbar navbar-expand-sm bg-primary navbar-dark" role="banner">
    <a class="navbar-brand ml-5" href="/">
        <h3>{{ .Site.Title }}</h3>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {{- $currentPage := . -}}
            {{ range .Site.Menus.navbar.Sort }}
            {{ $menuURL := .URL | absLangURL }}
            <li class="nav-item" style="list-style-type: none;">
                {{/* Between {{ }} has to stay on one line or there are errors */}}
                <a class="nav-link h5 
                {{ if or ($currentPage.IsMenuCurrent `navbar` .) ($currentPage.HasMenuCurrent `navbar` .) }} active{{end}}"
                    href=" {{ .URL }}" title="{{ .Title }}">
                    {{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>